@tailwind components;

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-3%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.bounce-animate {
  animation: bounce 1s infinite;
}

@layer components {
  .home-bg-container {
    @apply bg-center bg-no-repeat bg-cover relative z-[1];
  }

  .home-gradient-bg {
    @apply bg-gradient-to-b from-[#f2f2f200] from-60% via-[#f2f2f257] via-80% to-[#f2f2f2] to-[99%] absolute top-0 right-0 left-0 bottom-0 z-[2];
  }

  .home-main-container {
    @apply flex flex-col items-center justify-around px-6 pt-10 pb-20 h-[calc(100vh-64px)] relative z-[3] xl:container xl:mx-auto;
  }

  .home-principal-texts {
    @apply flex flex-col justify-center gap-10;
  }

  .span-style-greeting {
    @apply text-2xl md:text-[28px];
  }

  .img-pass-section {
    @apply bounce-animate cursor-pointer;
  }
}
