@tailwind components;

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-3%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.bounce-animate {
  animation: bounce 1s infinite;
}

@layer components {
  .home-bg-container {
    @apply bg-center bg-no-repeat bg-cover mb-10;
  }

  .home-main-container {
    @apply flex flex-col items-center justify-around px-6 py-10 h-[calc(100vh-64px)];
  }

  .home-principal-texts {
    @apply flex flex-col justify-center gap-10;
  }

  .span-style-greeting {
    @apply text-2xl;
  }

  .img-pass-section {
    @apply bounce-animate cursor-pointer;
  }
}
